.wrapper {
    position: relative;
    max-width: 1240px;
    margin: auto;
    padding: 0 2rem;
}

@media(min-width: 640px){
    .wrapper{
        padding: 0 4rem;
    }
}

@media(min-width: 768px){
    .wrapper{
        padding: 0 2rem;
    }
}

@media(min-width: 1280px){
    .wrapper{
        padding: 0;
        
    }
}

.col-2 {
    flex: 0 0 calc(48% - var(--gap));
}

.col-3 {
    flex: 0 0 calc(33.333% - var(--gap));
}