.link {
    color: #000;
}


.services-link {
    position: relative;
    font-size: 2rem;
    color: var(--accent-clr);
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    text-decoration-thickness: 1px;
    font-weight: 900;
}

@media(min-width: 768px) {
    .services-link {
        font-size: 2.5rem;
        line-height: 3.5rem;
        text-decoration-thickness: 2px;
    }
}

.services-link::before {
    content: "";
    position: absolute;
    background: url(/resources/images/icons/link-arrow.webp);
    left: 0;
    top: 50%;
    width: 8px;
    height: 15px;
    transform: translate(-150%, -45%);
}